# Go binaries and build outputs
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Coverage & profiling
coverage.*
*.cover
*.coverprofile
profile.cov

# Module/workspace files
vendor/
go.work
go.work.sum

# Environment files
.env

# Editor/IDE
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log
